# Ignore compiled Python files
*.pyc

# Ignore virtual environment
venv/

# Ignore logs
*.log

# Ignore cache files
__pycache__/

# Ignore environment variables file
.env

# Ignore IDE files
.vscode/
.idea/

# Ignore package build directory
dist/

# Ignore egg-info directory
*.egg-info/

# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib

# Ignore backup files
*~
*.bak

# Ignore env folder
rec-test/
